<!--<body class="background-format" [style]="'background-image: url(' + currentBackground + ')'">-->
<body class="background-format">
  <section class="message-viewport">
    <!--
    The introductory text the user sees when first landing on the page.
    This cycles between a number of sentences in a list found in landing.message.component.ts.
    -->
    <h1 #message class="text-center introductory-message-format" (animationend)="cleanUpMessage($event)"></h1>

    <!--An upside down triangle created in CSS. Code can be found in landing.message.component.css-->
    <!--
      NOTE: We have a div here because we get warnings when the width and height for the floating triangle
      don't match what's in the style guide.
    -->
    <div #floatingTriangle class="position-relative top-50 text-center">
      <img id="floating-triangle"
           ngSrc="{{upsideDownTrianglePath}}"
           height="50"
           width="50"
           alt="A floating upside-down triangle."
           (click)="scrollDown(aboutText)"
           priority
      />
    </div>
  </section>

  <!--The current background image placed behind the gradient of the main body.-->
  <div #backgroundImage
       class="z-n1 position-absolute align-content-center about-background"
       [style]="'background-image: url(' + currentBackground[0] + ')'"
       (animationend)="imageAnimationController($event)">
  </div>

  <!--Footer crediting the artist of the image currently displaying as a background.-->
  <footer class="position-absolute text-center text-md-end fst-italic opacity-75 px-5 footer-credit-format">
    Current Art by {{currentBackground[1]}}
  </footer>

  <!--The text about me.-->
  <!--TODO: Get the text centered.-->
  <h5 #aboutText class="position-absolute top-100 text-center px-3" style="color: #dadbf9;">
    <!--The quick brown fox jumped over the lazy river and destroyed the world as we know it.

    <br><br>It was a dark day.
    <br><br>It was a dark night.
    <br><br>It was a dark world.
    <br><br>It was a dark place.
    <br><br>It was a dark time.-->
  </h5>
</body>
