<!--<body class="background-format" [style]="'background-image: url(' + currentBackground + ')'">-->
<body class="background-format">
  <section class="message-viewport">
    <!--
    The introductory text the user sees when first landing on the page.
    This cycles between a number of sentences in a list found in landing.message.component.ts.
    -->
    <h1 #message class="text-center introductory-message-format" (animationend)="cleanUpMessage($event)"></h1>

    <!--An upside down triangle created in CSS. Code can be found in landing.message.component.css-->
    <!--<div id="upside-down-triangle" class="mx-auto" (click)="scrollDown(aboutText)"></div>-->
    <div id="triangle-container" class="text-center">
      <img id="floating-triangle"
           ngSrc="{{upsideDownTrianglePath}}"
           height="50"
           width="50"
           alt="A floating upside-down triangle."
           (click)="scrollDown(aboutText)" />
    </div>
  </section>

  <div
    class="z-n1 position-absolute top-100 align-content-center about-background"
    [style]="'background-image: url(' + currentBackground + ')'"></div>

  <h1 #aboutText class="position-absolute top-100 text-center" style="color: #dadbf9; height: 75vh; font-size: 2.5vw;">
    The quick brown fox jumped over the lazy river and destroyed the world as we know it.

    <br><br>It was a dark day.
    <br><br>It was a dark night.
    <br><br>It was a dark world.
  </h1>
</body>
