body {
  height: 250vh;
}

#triangle-container {
  position: sticky;
  top: 100%;
  bottom: 100%;
}

#floating-triangle {
  animation: float 1s infinite;
}

.message-viewport {
  position: relative;
  height: 50vh;
}

.introductory-message-format {
  color: white;
  min-font-size: 2rem;
  font-family: 'Roboto', sans-serif;

  width: 100vw;
  height: 15vh;
  padding-left: 2rem;
  padding-right: 2rem;
}

.background-format {
  background: linear-gradient(180deg, rgb(0, 0, 0), rgb(0, 0, 0), rgb(255, 255, 255));
}

.fade-in {
  animation: fadeInEffect 750ms;
}

.fade-out {
  opacity: 0;
  animation: fadeOutEffect 750ms forwards;
}

@keyframes fadeInEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOutEffect {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes float {
  0% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(2rem);
  }

  100% {
    transform: translateY(0rem);
  }
}

