#upside-down-triangle {
  position: sticky;
  top: 100%;
  bottom: 100%;

  width: 0;
  height: 0;
  border-left: 20px solid transparent ;
  border-right: 20px solid transparent;
  border-top: 40px solid #000000;
}

.introductory-message-format {
  min-font-size: 2rem;
  font-family: 'Roboto', sans-serif;

  width: 100vw;
  height: 15vh;
  padding-left: 2rem;
  padding-right: 2rem;
}

.fade-in {
  animation: fadeInEffect 750ms;
}

.fade-out {
  opacity: 0;
  animation: fadeOutEffect 750ms forwards;
}

@keyframes fadeInEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOutEffect {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

